<app-header-one></app-header-one>

<div class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h2>Transacción Rechazada</h2>
        </div>
    </div>
</div>

<section class="contact-area ptb-100">
    <div class="container">

        <img src="assets/img/rejected.png" alt="image">
        <div class="row">
            <div class="col-lg-7 col-md-12">


                <div class="contact-form">
                    <h1>Señ@r {{userPaying.name}} {{userPaying.lastName}}</h1>
                    <h2>Su transacción fue rechazada.</h2>
                    <h3>Por favor verifique su correo electrónico donde recibirá información relacionada a su compra.
                    </h3>
                </div>
            </div>
        </div>
    </div>

</section>