input.fix {
    padding: 0 !important;
    margin-left: 30px;
}

div.input-group.calendar_1{
    margin-left: 15px;
}

div.input-group.calendar_2{
    margin-left: 35px;
}

div.rating.fix{
    top: 55px;
}

a.no-style{
    text-decoration: none;
    color: #ffffff;
}
.disabled {
    pointer-events: none;
    cursor: default;
 }
