<div class="welcome-area">
    <div class="row m-0 align-items-center">
        <div class="col-lg-5 col-md-12 p-0">
            <div class="welcome-content">
                <h1 class="mb-2">Bienvenido</h1>
                <p class="mb-0">Nombre persona loggueada</p>
            </div>
        </div>

        <div class="col-lg-7 col-md-12 p-0">
            <div class="welcome-img">
                <img src="assets/img/welcome-img.png" alt="image">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="stats-card-box">
            <div class="icon-box">
                <i class='bx bx-map-alt'></i>
            </div>
            <span class="sub-title">Actividades</span>
            <h3>--</h3>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="stats-card-box">
            <div class="icon-box">
               <i class='bx bx-car'></i>
            </div>
            <span class="sub-title">Transporte</span>
            <h3>--</h3>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="stats-card-box">
            <div class="icon-box">
                <i class='bx bx-hotel'></i>
            </div>
            <span class="sub-title">Hospedaje</span>
            <h3>--</h3>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="stats-card-box">
            <div class="icon-box">
                <i class='bx bx-user'></i>
            </div>
            <span class="sub-title">Usuarios</span>
            <h3>--</h3>
        </div>
    </div>
</div>
