<section class="register-area">
    <div class="row m-0">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="register-image">
                <img src="assets/img/register-bg.jpg" alt="image">
            </div>
        </div>

        <div class="col-lg-6 col-md-12 p-0">
            <div class="register-content">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="register-form">
                            <div class="logo">
                                <a routerLink="/"><img src="assets/img/login-bg2.jpg" alt="image"></a>
                            </div>

                            <h3>Crear Cuenta</h3>
                            <p>Ya estas registrado? <a routerLink="/login">Login</a></p>

                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <input type="name" formControlName="name" placeholder="Nombre" class="form-control">
                                </div>

                                <div class="form-group">
                                    <input type="lastName" formControlName="lastName" placeholder="Apellido" class="form-control">
                                </div>

                                <div class="form-group">
                                    <input type="idUser" formControlName="idUser" placeholder="Número Identificación" class="form-control">
                                </div>


                                <div class="form-group">
                                    <input type="phone" formControlName="phone" placeholder="Número de Teléfono" class="form-control">
                                </div>

                                <div class="form-group">
                                    <input type="email" formControlName="email" placeholder="Email" class="form-control">
                                </div>

                                <div class="form-group">
                                    <input type="password" formControlName="password" placeholder="Password" class="form-control">
                                </div>

                                <button type="submit">Registrarse</button>
                                <app-toast-container aria-live="polite" aria-atomic="true"></app-toast-container>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>