<div class="breadcrumb-area">
    <h1>Agregar Servicio de Hospedaje</h1>

    <ol class="breadcrumb">
        <li class="item"><a routerLink="/"><i class='bx bx-home-alt'></i></a></li>

        <li class="item">Dashboard</li>

        <li class="item">Agregar Servicio de Hospedaje</li>
    </ol>
</div>

<div class="alert hidden" [ngClass]="{'hidden': !showMessage, 'alert-danger': errorMessage, 'alert-success': !errorMessage}">
    {{ message }}
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="add-listing-box mb-30">
        <h3>Información Básica</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label><i class='bx bx-briefcase-alt'></i> Nombre de Hospedaje:</label>
                    <input formControlName="nombre" type="text" class="form-control"
                           placeholder="Nombre de hospedaje">
                    <div *ngIf="submitted && form.controls.nombre.errors" class="error-form">
                        <div class="error-message" *ngIf="form.controls.nombre.errors.required">Campo requerido</div>
                        <div class="error-message" *ngIf="form.controls.nombre.errors.minlength">Campo debe tener mínimo 3 caracteres</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-face'></i> Teléfono:</label>
                    <input formControlName="telefono" type="text" class="form-control"
                           placeholder="">
                    <div *ngIf="submitted && form.controls.telefono.errors" class="error-form">
                        <div class="error-message" *ngIf="form.controls.telefono.errors.required">Campo requerido</div>
                        <div class="error-message" *ngIf="form.controls.telefono.errors.minlength">Campo debe tener mínimo 3 caracteres</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-face'></i> Direccion:</label>
                    <input formControlName="direccion" type="text" class="form-control"
                           placeholder="">
                    <div *ngIf="submitted && form.controls.direccion.errors" class="error-form">
                        <div class="error-message" *ngIf="form.controls.direccion.errors.required">Campo requerido</div>
                        <div class="error-message" *ngIf="form.controls.direccion.errors.minlength">Campo debe tener mínimo 3 caracteres</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-duplicate'></i> Actividades Turísticas:</label>
                    <select formControlName="actividades" class="custom-select" multiple style="height: 200px">
                        <option *ngFor="let activity of activities" [ngValue]="activity">{{activity.name}}</option>
                    </select>
                    <div *ngIf="submitted && form.controls.actividades.errors" class="error-form">
                        <div class="error-message" *ngIf="form.controls.actividades.errors.required">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-listing-box mb-30">
        <h3>Descripción del Servicio</h3>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label><i class='bx bx-text'></i> </label>
                    <textarea formControlName="descripcion" cols="30" rows="7" class="form-control"
                              placeholder="Descripción del servicio"></textarea>
                    <div *ngIf="submitted && form.controls.descripcion.errors" class="error-form">
                        <div class="error-message" *ngIf="form.controls.descripcion.errors.required">Campo requerido</div>
                        <div class="error-message" *ngIf="form.controls.descripcion.errors.minlength">Campo debe tener mínimo 10 caracteres</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-listing-box mb-30">
        <h3>Imágenes del lugar</h3>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <div class="add-list-media-header">
                        <label class="radio">
                            <input type="radio" name="header-media" value="background-image" checked>
                            <span>Imágenes</span>
                        </label>
                    </div>

                    <div class="add-list-media-wrap">
                        <div class="text">
                            <span>
                                <i class='bx bx-image-add'></i>
                                Click para agregar imagenes
                            </span>
                        </div>
                        <input type="file" class="upload" (change)="onFileChanged($event)" style="width: 100%;">
                    </div>
                </div>
                <div class="images-load">
                    <div *ngFor="let image of images" (click)="removeImage(image)" class="div-image">
                        <img src="{{urlPath}}{{image}}" class="img-upload">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-listing-box mb-30">
        <h3>Precio por persona</h3>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label><i class='bx bx-purchase-tag'></i> Precio:</label>
                    <input formControlName="costoPersona" type="text" class="form-control" placeholder="$54224">
                    <div *ngIf="submitted && form.controls.costoPersona.errors" class="error-form">
                        <div class="error-message" *ngIf="form.controls.costoPersona.errors.required">Campo requerido</div>
                        <div class="error-message" *ngIf="form.controls.costoPersona.errors.minlength">Campo debe tener mínimo 3 caracteres</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="add-listing-box mb-30">
        <h3>Estado</h3>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <ul class="facilities-list">
                        <li>
                            <label class="checkbox">
                                <input type="radio" formControlName="estado" name="estado" value=1
                                       [checked]="form.get('estado').value == 1">
                                <span>Activo</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox">
                                <input type="radio" formControlName="estado" name="estado" value=0
                                       [checked]="form.get('estado').value == 0">
                                <span>Inactivo</span>
                            </label>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="add-listing-box mb-30">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <button type="submit" style="float: right">Guardar Servicio</button>
            </div>
        </div>
    </div>
</form>
