<app-header-one></app-header-one>

<div class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h2>Transacción Exitosa</h2>
        </div>
    </div>
</div>

<section class="contact-area ptb-100">
    <div class="container">

        <img src="assets/img/approved.png" alt="image">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                                       
                
                <div class="contact-form">
                    <h1>Señ@r  {{orderPayment.name}} {{orderPayment.lastname}} </h1> 
                    <h2>Felicitaciones! Su transacción fue aprobada.</h2>    
                    <h3>Por favor verifique su correo electrónico donde recibirá información relacionada a su compra.</h3>                 
                </div>               
            </div>
        </div>



        <br/>
        <br/>
        <br/>
        <b>Política de Cancelación</b>
        <p>El proceso de cancelación de la orden se debe realizar mediante el correo electrónico <b>cancelacion@touresbalon.com</b> o comunicandose a nuestras líneas de atención <b>321 654 214</b>.</p> 
    </div>
    
</section>