<app-header-one></app-header-one>

<div class="page-title-area page-title-bg2">
    <div class="container">
        <div class="page-title-content"></div>
    </div>
</div>

<section class="listing-details-area pt-100 pb-70">
    <div class="container">
        <div class="listing-details-header">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="listing-title">
                        <h2>{{ details?.nombreActividad }}</h2>
                        <p>{{ details?.descripcionActividad }}</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="listing-price">
                        <div class="listing-review">
                            <div class="review-stars">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </div>
                            <span class="reviews-total d-inline-block"
                                >(2 opiniones)</span
                            >
                        </div>

                        <div *ngIf="base; else noSelect" class="price">
                            {{ totalPrice | currency: "COP ":false:"2.0" }}
                        </div>
                        <ng-template #noSelect>
                            <div class="price">
                                Base
                                {{
                                    arryPrices[0]?.costoPersona
                                        | currency: "COP ":false:"2.0"
                                }}
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div
                    class="listing-details-image-slides owl-carousel owl-theme"
                >
                    <ngb-carousel>
                        <ng-template
                            ngbSlide
                            *ngFor="let img of details?.imagenesActividad"
                        >
                            <div class="picsum-img-wrapper">
                                <img src="{{imagePath}}{{ img }}" alt="Random first slide" />
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>

                <div class="listing-details-desc">
                    <h3>
                        {{ details?.nombreSitioTuristico }},
                        {{ details?.nombreDepartamento }}
                    </h3>
                    <p>{{ details?.descripcion }}</p>

                    <h3>Ubicacion</h3>

                    <div id="map">
                        <iframe [src]="url"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="listing-sidebar-widget">
                    <div class="listing-opening-hours">
                        <i class="bx bx-hotel"></i>

                        <h3>Hospedaje</h3>

                        <ul *ngFor="let item of details?.provedoresHospedaje">
                            <li>
                                <input
                                    type="radio"
                                    class="custom-radio"
                                    value="item?.costoPersona"
                                    name="hotelSelection"
                                    (change)="calculateTotalPrice(item, 'h')"
                                />
                                <span
                                    >{{ item?.nombre }}:
                                    {{
                                        item?.costoPersona
                                            | currency: "COP ":false:"2.0"
                                    }}</span
                                >
                                <button
                                    class="default-btn btn-sm"
                                    type="button"
                                    (click)="getProviderDetail(item)"
                                >
                                    <i class="bx bx-zoom-in"></i>
                                </button>
                            </li>
                            <li><span></span></li>
                        </ul>
                    </div>

                    <div class="listing-opening-hours">
                        <i class="bx bx-bus"></i>
                        <h3>Transporte</h3>

                        <ul *ngFor="let item of details?.provedoresTransporte">
                            <li>
                                <input
                                    type="radio"
                                    class="custom-radio"
                                    value="item?.costoPersona"
                                    name="transportSelection"
                                    (change)="calculateTotalPrice(item, 't')"
                                />
                                <span
                                    >{{ item.transportadora }}:
                                    {{
                                        item?.costoPersona
                                            | currency: "COP ":false:"2.0"
                                    }}</span
                                >
                                <button
                                    class="default-btn btn-sm"
                                    type="button"
                                    (click)="getProviderDetail(item)"
                                >
                                    <i class="bx bx-zoom-in"></i>
                                </button>
                            </li>
                            <li><span></span></li>
                        </ul>
                    </div>

                    <div class="listing-book-table">
                        <form [formGroup]="frmGroup">
                            <div class="form-group">
                                <label>* Nombre:</label>
                                <input
                                    type="text"
                                    formControlName="txtName"
                                    class="form-control"
                                />
                            </div>
                            <div
                                class="validate-control"
                                *ngIf="
                                    frmGroup.controls['txtName'].invalid &&
                                    (submitted ||
                                        frmGroup.controls['txtName'].touched)
                                "
                            >
                                <span
                                    *ngIf="
                                        frmGroup.controls['txtName'].errors
                                            .required
                                    "
                                    >Se requiere el nombre completo
                                </span>
                            </div>
                            <div class="form-group">
                                <label>* Email:</label>
                                <input
                                    type="email"
                                    formControlName="txtEmail"
                                    class="form-control"
                                />
                            </div>
                            <div
                                class="validate-control"
                                *ngIf="
                                    frmGroup.controls['txtEmail'].invalid &&
                                    (submitted ||
                                        frmGroup.controls['txtEmail'].touched)
                                "
                            >
                                <span
                                    *ngIf="
                                        frmGroup.controls['txtEmail'].errors
                                            .required
                                    "
                                    >Se requiere un correo electrónico
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Personas:</label>
                                <div class="input-counter">
                                    <span class="minus-btn"
                                        ><i class="bx bx-minus"></i
                                    ></span>
                                    <input #box
                                        type="text"
                                        value="1"
                                        min="1"
                                        name="numPersonas"
                                        readonly="readonly"
                                    />
                                    <span class="plus-btn"
                                        ><i class="bx bx-plus"></i
                                    ></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>* Fecha:</label>
                                <input
                                    type="text"
                                    formControlName="txtDate"
                                    readonly="readonly"
                                    class="form-control"
                                />
                            </div>

                            <div class="form-group">
                                <label>Escribir Mensaje:</label>
                                <textarea
                                    class="form-control"
                                    formControlName="txtMessage"
                                    cols="30"
                                    rows="5"
                                ></textarea>
                            </div>
                            <ng-template #dangerTpl>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24"><path d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z"/></svg>
                               Faltan datos por completar !
                              </ng-template>
                            <button
                                type="button"
                                (click)="submit(dangerTpl)"
                                class="default-btn"
                            >
                                Cotizar ahora!
                            </button>

                            <app-toast-container aria-live="polite" aria-atomic="true"></app-toast-container>

                        </form>
                    </div>

                    <div class="listing-contact">
                        <div class="text">
                            <div class="icon">
                                <i class="bx bx-phone-call"></i>
                            </div>
                            <span>Linea de atención:</span>
                            <a href="tel:+098798768753">+0987-9876-8753</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
